*{
   color: #32404d;
   font-family: serif;
}
.mainWrapper{
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: #eff0f1;
   align-items: center;
    display: flex;
    justify-content: center;
}
.contentWrapper{
   background: #ffffff;
   padding: 50px 100px;
   border: 1px solid #d2d2d2;
   border-radius: 3px;
}
.label{
   font-size: 25px;
    font-weight: 500;
    display: inline-block;
    min-width: 240px;
    line-height: 35px;
}
.fieldWrapper{
   margin-bottom: 20px;
}
#selectRepo{
   height: 35px;
    border-radius: 3px;
    font-size: 16px;
    background: #efefef;
    padding: 0 10px;
    width: 275px;
}
.inputField{
   height: 30px;
    width: 275px;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    font-size: 16px;
}
.buttonWrapper{
   margin-top: 20px;
}
.button{
   background: #37a5e4;
   margin: auto;
    display: inherit;
    width: 100px;
    height: 28px;
    border-radius: 3px;
    color: #ffffff;
    border: 1px solid #37a5e4;
    font-weight: 700;
}
.popup{
    display: none;
    overflow: hidden;
    width: 87%;
    height: 60%;
    position: absolute;
    border: 1px solid #d2d2d2;
    background: #e2e2e2;
    border-radius: 3px;
}
.showClass{
    display: block;
}
.wrapperShadow{
      opacity: 0.5;
}
.popupHeader{
    content: '';
    clear: both;
    height: 50px;
}
.closeIcon{
    display: inline-block;
    width: 50px;
    height: 100%;
    float: right;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.popupHeaderText{
    float: left;
    width: calc(100% - 50px);
    text-align: center;
    line-height: 50px;
    margin: 0;
}
.popupContent{
    background: #ffffff;
    padding: 10px 20px;
    border-bottom: 1px solid #d2d2d2;
}
.popupContent:first-child{
    border-top: 1px solid #d2d2d2;
}
.message{
    font-size: 20px;
    margin-bottom: 10px;
    display: inline-block;
}
.author{
    height: 30px;
    display: inline-block;
    text-align: left;
    min-width: 300px;
    border: solid 1px;
    border-radius: 6px;
    line-height: 30px;
    padding: 0 3px;
    margin-right: 20px;
}
.date{
    min-width: 200px;
    display: inline-block;
    height: 30px;
    text-align: left;
    border: solid 1px;
    border-radius: 6px;
    line-height: 30px;
    padding: 0 3px;
    margin-right: 20px;
}
.time{
    min-width: 200px;
    display: inline-block;
    height: 30px;
    text-align: left;
    border: solid 1px;
    border-radius: 6px;
    line-height: 30px;
    padding: 0 3px;
    margin-right: 20px;
}
.method{
    border-bottom: 1px solid #d2d2d2;
    padding: 0 50px;
    font-size: 20px;
    height: 33px;
    line-height: 33px;
    display: block;
}
.method:first-of-type{
    border-top: 1px solid #d2d2d2;
}
.linemethod{
    border-bottom: 1px solid #d2d2d2;
    padding: 0 50px;
    font-size: 20px;
    height: 33px;
    line-height: 33px;
    display: block;
}
.linemethod:first-of-type{
    border-top: 1px solid #d2d2d2;
}
.wrapper{
width: 100%;
height: calc(100% - 50px);
overflow: auto;
}
.hoverinfo {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 28px;
  color: #ffffff;
  cursor: pointer;
}
.hoverinfo p {
  display: none;
  color: #000000;
}
.hoverinfo:hover p {
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
}
