#wrapper {
     width: 1005px;
         margin: 0 auto;
}
#contents, #commits {
    border: 1px solid black;
    float: left;
    min-height: 600px;
    color: black;
}
#contents {
      width: 750px;

        background-color: white;
        max-height: 600px;
            overflow: auto;
}
#commits {
   width: 250px;
          background-color: white;
          max-height: 600px;
              overflow: auto;
}
.contentback {
     padding: 0px 50px;
    font-size: 20px;
    /* height: 33px; */
    line-height: 33px;
    display: block;
    text-align: center;
    position: relative;
    max-height: 500px;
    overflow: auto;
    padding-left: 1000px;
}