#wrapper {
     width: 1005px;
         margin: 0 auto;
}
#contents, #commits {
    border: 1px solid black;
    float: left;
    min-height: 600px;
    color: black;
}
#contents {
      width: 750px;

        background-color: white;
        max-height: 600px;
            overflow: auto;
}
#commits {
   width: 250px;
          background-color: white;
          max-height: 600px;
              overflow: auto;
}