body{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        top: 0;
        padding: 50px;
        background:gainsboro;
}
div{
        padding-left: 20px;
}

.label{

position:absolute;
bottom:225px;
}

.child{
position:absolute;
height:125px;
bottom:90px;
width:225px;

}

.button{
position:absolute;
bottom:50px;
left:1150px;
width:100px;
height:25px;
}
